<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>命名空间和反射机制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA3D8A2B1DDEE7250075CE00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3D8A3F1DDEE7250075CE00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA3D8A4A1DDEE7250075CE00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
